.banner-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffe684;
  position: absolute;
  .logo {
    position: absolute;
    top: 300px;
    right: 150px;
    width: 300px;
    height: 300px;
    background-color: #ffff;
    border-radius: 50%;
    p {
      font-size: 40px;
      position: absolute;
      left: -80px;
      transform: rotate(90deg);
    }
  }
  .title {
    width: auto;
    position: absolute;
    bottom: 0px;
    padding-bottom: 100px;
    padding-left: 50px;
    h1 {
      opacity: 0;
      font-size: 150px;
      font-weight: 600;
      animation: visible-on 0.8s ease-in;
      animation-fill-mode: forwards;
    }
    h2 {
      opacity: 0;
      animation: visible-on 0.8s ease-in;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      font-size: 170px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .banner-container {
    .title {
      h1 {
        font-size: 110px;
        font-weight: 600;
      }
      h2 {
        font-size: 130px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .banner-container {
    .links-bar {
      width: 60%;
      a {
        font-size: 30px;
      }
    }

    .logo {
        top: 200px;
        right: 150px;
      }
    .title {
      h1 {
        font-size: 90px;
        font-weight: 600;
      }
      h2 {
        font-size: 110px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner-container {
    .logo {
      position: absolute;
      top: 300px;
      right: 150px;
      width: 200px;
      height: 200px;
      background-color: #ffff;
      border-radius: 50%;
      p {
        font-size: 30px;
        position: absolute;
        left: -80px;
        transform: rotate(90deg);
      }
    }
    .title {
      padding-bottom: 200px;
      padding-left: 50px;
      h1 {
        font-size: 75px;
        font-weight: 600;
      }
      h2 {
        font-size: 85px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .banner-container {
    .links-bar {
      display: none;
    }
    .logo {
      top: 200px;
      right: 35px;
      width: 170px;
      height: 170px;
      p {
        font-size: 25px;
        left: -60px;
      }
    }
    .title {
      padding-bottom: 100px;
      padding-left: 50px;
      h1 {
        font-size: 35px;
        font-weight: 600;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .banner-container {
    .logo {
      top: 200px;
      right: 35px;
      width: 170px;
      height: 170px;
      p {
        font-size: 25px;
        left: -60px;
      }
    }
    .title {
      padding-bottom: 50px;
      padding-left: 50px;
      h1 {
        font-size: 30px;
        font-weight: 600;
      }
      h2 {
        font-size: 35px;
      }
    }
  }
}

@keyframes visible-on {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}