@import "../../styles/Variables.scss";

.banner-container {
  width: 100%;
  min-height: 100vh;
  background-color: $white-color;
  .ode-logo {
    position: absolute;
    display: flex;
    top: 15%;
    right: 10%;
    .ode-banner {
      display: flex;
      position: relative;
      top: 140px;
      p {
        font-size: 40px;
        font-weight: 700;
        width: auto;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        color: $blue-color;
      }
    }
    .logo {
      background-color: $white-color;
      border-radius: 50%;
    }
  }
  .title {
    width: auto;
    position: absolute;
    bottom: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
    h1 {
      font-size: 7vw;
      font-weight: 600;
      color: $yellow-color;
    }
    h2 {
      font-size: 9vw;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .banner-container {
    .links-bar {
      width: 60%;
      a {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .list {
    .links {
      padding: 10px;
      a {
        font-size: 90px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .list {
    .featured-inner-left {
      display: none;
    }
    .links {
      width: 100%;
      padding: 15px;
      .ode-banner {
        top: 30px;
        left: -120px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner-container {
    .ode-logo {
      .ode-banner {
        p {
          width: 335px;
          position: absolute;
          right: -50px;
          bottom: 80px;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .list {
    .logo-container {
      width: 150px;
      top: 115px;
    }
    .links {
      padding: 10px;
      a {
        font-size: 60px;
      }
      .mail {
        margin-top: 35px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .banner-container {
    .ode-logo {
      top: 20%;
      .ode-banner {
        top: 180px;
        p {
          right: -70px;
        }
      }
      .logo {
        width: 150px;
        height: 150px;
      }
    }
    .links-bar {
      display: none;
    }
    .title {
      padding: 0 0 20px 15px;
      h1 {
        font-size: 9vw;
      }
      h2 {
        font-size: 10vw;
      }
    }
  }
  .list {
    .logo-container {
      width: 110px;
      top: 115px;
      right: 85px;
    }
    .links {
      padding: 0 0 0 10px;
      .ode-banner {
        top: 0;
        font-size: 30px;
      }
      a {
        font-size: 40px;
        line-height: 1.8;
      }
      .mail {
        margin-top: 0;
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 281px) {
  .list {
    .logo-container {
      width: 115px;
    }
    .links {
      .ode-banner {
        left: -95px;
      }
      .mail {
        margin-top: 50px;
        font-size: 15px;
      }
    }
  }
}

// Orientation Landscape
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .list {
    .links {
      padding: 50px;
    }
  }
}

@media only screen and (max-device-width: 900px) and (orientation: landscape) {
  .banner-container {
    .ode-logo {
      right: 20%;
      .ode-banner {
        top: 65px;
        margin-right: 20px;
        p {
          transform: rotate(0deg);
        }
      }
      .logo {
        width: 130px;
        top: 25%;
        right: 15%;
      }
    }
  }
  .list {
    .featured-inner-left {
      display: none;
    }
    .logo-container {
      width: 100px;
    }
    .links {
      width: 50%;
      padding: 0px;
      top: 0;
      left: 0;
      a {
        font-size: 45px;
      }
      .ode {
        margin-bottom: 25px;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .mail {
        margin-top: 30px;
      }
    }
  }
}
