@import "../../styles/Variables.scss";

.nav-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $white-color;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.burger {
  width: 65px;
  height: 65px;
  position: fixed;
  top: 20px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: $white-color;
    border-radius: 50%;
    transition: transform 750ms ease-in;
    z-index: 10;
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: $white-color;
    border-radius: 50%;
    transition: transform 500ms ease;
    z-index: 40;
  }

  &:hover {
    &:after {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  .btn-burger {
    $size: 50px;
    $offsetY: 7px;
    width: 50px;
    height: 40px;
    position: relative;
    z-index: 140;
    border: none;
    background: none;
    cursor: pointer;
  }

  .rectangle-one {
    z-index: 200;
    position: absolute;
    width: 20px;
    height: 15px;
    border: 2px solid black;
    transform: translateX(-5px) translateY(4px);
  }
  .rectangle-two {
    z-index: 200;
    position: absolute;
    width: 20px;
    height: 15px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: translateX(-1px) translateY(0px);
  }
  .rectangle-three {
    z-index: 200;
    position: absolute;
    width: 20px;
    height: 15px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: translateX(3px) translateY(-4px);
  }

  .cross-one {
    z-index: 200;
    position: absolute;
    width: 44px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    display: none;
  }

  .cross-two {
    z-index: 200;
    position: absolute;
    width: 44px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
    display: none;
  }
}

.active {
  .rectangle-one,
  .rectangle-two,
  .rectangle-three {
    display: none;
  }

  .cross-one,
  .cross-two {
    display: block;
  }

  &:before {
    transform: scaleX(100) scaleY(100);
    opacity: 1;
    box-shadow: none;
  }

  &:after {
    box-shadow: 5px -5px 7px 3px rgba(0, 0, 0, 0.05);
    background: $white-color;
  }
}

.list {
  visibility: hidden;
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  .featured-inner-left {
    position: fixed;
    width: 50%;
    min-height: 100vh;
    .img-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $blue-color;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity 500ms ease;
    }
  }

  .animated {
    animation: fade-in 1.5s ease;
  }
  .logo-container {
    position: absolute;
    top: 55px;
    right: 125px;
  }
  .links {
    top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    right: 0px;
    padding: 100px;

    .ode {
      position: absolute;
      left: -100px;
      top: 130px;
      transform: rotate(90deg);
      font-size: 38px;
      color: $blue-color;
    }
    a {
      width: 45%;
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      line-height: 52px;
      color: $yellow-color;
      line-height: 1.2;
      cursor: pointer;
      z-index: 100;
      opacity: 0;
      transform: translateY(40px);
      transition: transform 300ms ease, opacity 400ms ease;
      &:hover {
        color: #000;
      }
    }
    :nth-child(1) {
      transition-delay: 200ms;
    }
    :nth-child(2) {
      transition-delay: 300ms;
    }
    :nth-child(3) {
      transition-delay: 400ms;
    }
    :nth-child(4) {
      transition-delay: 500ms;
    }
    .mail {
      margin-top: 100px;
      color: #000;
      font-size: 34px;
    }
  }
}

.list-open {
  visibility: visible;
  .links {
    a {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media only screen and (max-width: 480px) {
  .list {
    .img-container {
      display: none;
    }
    .links {
      width: 100%;
    }
  }
  .active {
    &:before {
      transform: scaleX(100) scaleY(100);
      opacity: 1;
      box-shadow: none;
    }

    &:after {
      box-shadow: 5px -5px 7px 3px rgba(0, 0, 0, 0.05);
      background: $white-color;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
